@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color001: #84E1D6;
  --color002: #3FBFE0;
  --color003: #67A1E0;
  --color004: #3F8CE0;
  --color005: #3F59E0;
  --color006: #A296E0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  color: azure;
}

h1{
  color: black;
}

main {
  width: 100%;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.navbar {
  position: relative;
  background-color: var(--color006);
  width: 60px;
  height: 100;
  margin-right: 15px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.icons svg:hover {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 10px;

}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.day {
  background-color: var(--color004);
  margin-bottom: 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.icons-day{
  cursor: pointer;
}

.icons-day:hover{
  opacity: 95%;
  transform: scale(0.9);
  background-color: var(--color005);
  border-radius: 10px;
}
    
.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;  
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
}

.content:hover{
  background-color: var(--color003);
  cursor: pointer;
  color: black;
}

.day-name {
  flex: 2;
}

.tasks-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 13px;
  margin-left: 10px;
}

.tasks-container:hover {
  background-color: rgba(20, 96, 179, 0.4);
  border-radius: 10px;
}

.tasks-text {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  color: rgb(255, 246, 246);
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}

.simple-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.simple-checkbox .checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.simple-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.simple-checkbox input:checked ~ .checkmark {
  background-color: green;
}

.simple-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.simple-checkbox .label-text {
  margin-left: 10px;
  font-weight: 400;
  color: #333;
}
